<section class="quiz-container">
  <div class="container">
    <div class="row">
      <form #quizForm="ngForm" class="mb-3">
<!--        <p>Question: {{this.quizArr[this.index]}}</p>-->
        <p>Choose Answer: </p>
<!--        <label *ngIf="quizArr" for="first-answer">A</label>-->
<!--        <input id="first-answer" name="answers" type="checkbox">-->
<!--        <label *ngIf="quizArr" for="second-answer">B</label>-->
<!--        <input id="second-answer" name="answers" type="checkbox">-->
<!--        <label *ngIf="quizArr" for="third-answer">C</label>-->
<!--        <input id="third-answer" name="answers" type="checkbox">-->
<!--        <label *ngIf="quizArr" for="forth-answer">D</label>-->
<!--        <input id="forth-answer" name="answers" type="checkbox">-->
      </form>
    </div>
  </div>
</section>
